<!DOCTYPE html>
<html>
  <head>
    <title><%=typeof title == 'undefined' ? 'WSCADA.NET' : title%></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- The bundled stylesheet -->
    <link href="/assets/styles/style.css" rel="stylesheet" />
  </head>

  <body>
    <%- body %>

    <!-- The bundled javascript -->
    <script src="/assets/js/sails.io.js"></script>
    <script src="/assets/js/bundle.js"></script>
  </body>
</html>
